.mainDiv {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(250, 250, 250, 0.5);
}

.div1 {
    color: #633f3f;
    background-color: azure;
}

.div2 {
    color: #7d2626;
    background-color: #309446;
}

.div3 {
    color: #7b0c0c;
    background-color: #48a9a4;
}

