:root {
    --colorA: #1F5C00;
    --colorB:#116CA8;
    /* --globalGreen: #39a900; */
    --colorC: #39a900;
    --colorD: #A811A5;
    --colorE: #A86608;
    }

.mainDiv {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(250, 250, 250, 0.5);
}



.btn  {
    background-color: var(--globalGreen);
}

.input-group-text {
    background-color: var(--globalGreen);
}

.formCont {
    background-color: var(--colorC);
}