<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../csss/bootstrap/css/bootstrap.min.css">
  <title>Movimientos</title>
</head>

<body class="vh-100">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="entradas.html">Entradas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="salidas.html">Salidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cambios.html">Cambios</a>
          </li>
        </ul>
      </div>
      <div class="col-1">
        <div>
          <button class="btn btn-danger w-100 mt-4 shadow-sm "><a class="text-decoration-none text-white"
              href="../controllers/logout.php">Salir</a></button>
          <i class="bi bi-box-arrow-left"></i>
        </div>
      </div>
    </div>

    <div class="container-fluid d-flex justify-content-center align-items-center input-group mb-3">
      <div class="mb-3 input-group-prepend">
        <span class="bg-danger text-white p-2 rounded" for="selectr" type="text">Para agregar elementos a inventario por
          favor rellene los siguientes campos.</span>
      </div>
    </div>



    <div class="d-flex justify-content-center align-items-center">
      <div class=" p-5 rounded-5 text-secondary shadow" style="width: 50rem">
        <!-- inicio formulario -->
        <form action="../controllers/addElements.php" method="post">

          <!-- Nombre de elemento -->
          <div class="input-group mt-4">
            <label for="selectr" class="form-label pe-5">Nombre</label>
            <select class="form-select" name="elementoNombre" id="selectr" required>
              <option value="0">Nombre de elemento</option>
              <option value="BATA DESECHABLE">BATA DESECHABLE</option>
              <option value="BOLSA PLASTICA BASURA">BOLSA PLASTICA BASURA</option>
              <option value="4">BOTAS DE TRABAJO</option>
              <option value="5">CARETA GUADAÑAR</option>
              <option value="6">CARETA VETERINARIA</option>
              <option value="5">CARTUCHO QUIMICO</option>
              <option value="7">CASCO</option>
              <option value="8">CHALECO REFLECTIVO NARANJA</option>
              <option value="9">COFIA</option>
              <option value="10">DELANTAL DE HULE</option>
              <option value="11">FILTRO MASCARA</option>
              <option value="2">GAFAS LABORATORIO</option>
              <option value="3">GAFAS SEGURIDAD</option>
              <option value="4">GORRO TIPO MALLA</option>
              <option value="5">GUANTE CARNAZA</option>
              <option value="6">GUANTE CAUCHO LARGO</option>
              <option value="5">GUANTES DE EXAMEN</option>
              <option value="7">GUANTES MOSQUETERO</option>
              <option value="8">GUANTES QUIRURGICOS</option>
              <option value="9">GUANTES VETERINARIO</option>
            </select>
          </div>

          <!-- Marca -->
          <div class="input-group mt-4">
            <label class=" pe-5" for="selectr">Marca del elemento</label>
            <input class=" bg-light" name="elementoMarca" id="selectr" required>
          </div>

          <!-- Talla -->
          <div class="input-group mt-4">
            <label class=" pe-5" for="">Talla</label>
            <select class="form-select" name="elementoTalla" id="selectr" required>
              <option value="1">N/A</option>
              <option class="bg-secondary" value="2">S</option>
              <option class="bg-secondary" value="3">M</option>
              <option class="bg-secondary" value="4">L</option>
              <option class="bg-secondary" value="5">XL</option>
              <option value="6">7</option>
              <option value="7">8</option>
              <option value="8">9</option>
              <OPTION value="9">10</OPTION>
              <option class="bg-secondary" value="10">36</option>
              <option class="bg-secondary" value="11">37</option>
              <option class="bg-secondary" value="12">38</option>
              <option class="bg-secondary" value="13">39</option>
              <option class="bg-secondary" value="14">40</option>
              <option class="bg-secondary" value="15">41</option>
              <option class="bg-secondary" value="16">42</option>
              <option class="bg-secondary" value="17">43</option>
            </select>
          </div>

          <!-- Color -->
          <div class="input-group mt-4">
            <label class=" pe-5" for="">Color</label>
            <select class="form-select bg-light" name="elementoColor" id="selectr" required>
              <option value="1">Color</option>
              <option value="2">Amarillo</option>
              <option value="3">Azul</option>
              <option value="4">Rojo</option>
              <option value="5">Verde</option>
              <option value="6">Violeta</option>
              <option value="7">Naranja</option>
              <option value="8">Café</option>
              <option value="9">Gris</option>
              <option value="10">Negro</option>
            </select>
          </div>

          <div class="input-group mt-4">
            <label for="amount" class="form-label pe-5">Cantidad</label>
            <input class=" form-control" name="elementoCantidad" type="number" id="amount" placeholder="" required/>
          </div>

          <div class="form-floating input-group mt-4">
            <textarea class=" form-control bg-light" name="elementoNota" type="text" id="obsrvn" placeholder=""></textarea>
            <label for="obsrvn" class="form-label px-5">Observaciones</label>
          </div>

          <div>
            <button class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm" type="submit">Agregar a
              inventario</button>
          </div>

        </form>
        <!-- fin de formulario -->
      </div>
    </div>
  </div>



</body>

</html>