<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../csss/bootstrap/css/bootstrap.min.css">
    <title>Movimientos</title>
</head>
<body>
  <div class="container">
    <div class="row">

      <div class="col-11">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="entradas.html">Entradas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="salidas.html">Salidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cambios.html">Cambios</a>
          </li>
        </ul>
      </div>
      <div class="col-1">
        <div>
          <button class="btn btn-danger w-100 mt-4 shadow-sm "><a class="text-decoration-none text-white"
              href="../controllers/logout.php">Salir</a></button>
          <i class="bi bi-box-arrow-left"></i>
        </div>
      </div>
    </div>
  </div>
  <di class="container-flow">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sequi et aut molestiae at quia laudantium voluptate voluptatum accusantium quis hic modi excepturi corporis nesciunt incidunt, totam facilis illo porro.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam numquam unde natus reiciendis repellendus ea recusandae consequatur adipisci facere aperiam odio iure quibusdam voluptatibus error sit quaerat, dicta tempore assumenda!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quasi sed quos eum inventore, aliquid laudantium optio et sit, veritatis dolore odio ipsa sapiente dolorum dignissimos quisquam nam, nesciunt ut.
  </di>
</body>
</html>