<html>

<head>
	<link rel="stylesheet" href="./tests.css">
	<script>
		function showDiv1() {
			document.getElementById('div1').style.display = '';
			document.getElementById('div2').style.display = 'none';
			document.getElementById('div3').style.display = 'none';
		}

		function showDiv2() {
			document.getElementById('div1').style.display = 'none';
			document.getElementById('div2').style.display = '';
			document.getElementById('div3').style.display = 'none';
		}
		function showDiv3() {
			document.getElementById('div1').style.display = 'none';
			document.getElementById('div2').style.display = 'none';
			document.getElementById('div3').style.display = '';
		}
	</script>
</head>

<body>
	<input type="submit" value="Seguros para perros" onclick="showDiv1()">
	<a> | </a><br><input type="submit" value="Seguros para gatos" onclick="showDiv2()">
	<a> | </a><br><input type="submit" onclick="showDiv3()" value="Seguros para otros">
	<br>
	<div class="div1" id="div1" style="">
		Seguro para perros<br>
		Seguro1 <br>
		Seguro2<br>
		Seguro3
	</div>
	<div class="div2" id="div2" style="display: none">
		Seguro para gatos<br>
		Seguro1 <br>
		Seguro no ole!<br>
		Seguro3
	</div>
	<div class="div3" id="div3" style="display: none">
		Seguro que si otros<br>
		Segurolas Sam <br>
		Seguro3
	</div>
</body>

</html>